---
import { SITE_TITLE, SITE_EMAIL } from "../consts.js";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts.js";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
            <div class='wechat'>Wechat: wxid0573123</div>
          </div>

          <div class="item products">
            <div class="item-title">Work</div>
            <a href="/" target="_blank">BLOG</a>
            <a href="https://the.top" target="_blank">TOP Link</a>
          </div>

          <div class="item community">
            <div class="item-title">Contact</div>
            <a href="https://github.com/ayasono" target="_blank">Github</a>
          </div>

          <!--<div class="item resources">-->
          <!--  <div class="item-title">友链</div>-->
          <!--  <a href="https://the.top" target="_blank">THE.TOP</a>-->
          <!--  <a href="https://yufengbiji.com" target="_blank">驭风笔记</a>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
